.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    font-size: 30px;
    justify-content: space-between; /* Adjust as needed */
    padding: 10px;
    background-color: black;
    color: white; /* Text color */
}

.menu {
    text-decoration: none;
    color: white;
}

/* Add additional styles as needed */
