*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-size: 19px;
  font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url("img/wp8149028.webp") no-repeat;
  background-size: cover;
  background-position: center;

}